<div class="container">



    

      
        <tr>
             <td><button mat-stroked-button color="primary" class="oo">home</button></td>
             <td><button mat-stroked-button color="primary" class="oo">mans</button></td>
             <td><button mat-stroked-button color="primary" class="oo">womens</button></td>
             <td><button mat-stroked-button color="primary" class="oo">childs</button></td>

        </tr>

  <h1>Welcome to my Ecommerce Si<b class="he">te</b></h1>


  <div class="hemant">

  <button mat-stroked-button color="warn" class="pp" routerLink="/costomerlogin">Login</button>
  <button mat-stroked-button color="warn" class="pp" routerLink="/signup">signup</button>
  </div>

  <button mat-raised-button class="hh" routerLink="/adminlogin">Admin</button>

  


   
    
</div>
