h1{
    text-align: center;
}
mat-card{
    text-align: center;
    margin: auto;
    padding: 5px;

}

.hemant{
    
    margin-top: 10px;
    width: 130px;
    margin-left: 5px;
   
   
}

.container{
    margin-top: 50px;
}
.yashi{
    padding: 5px;
    text-align: center;
    margin: auto;

}

